.top {
    border-bottom: 2px solid black;
}

.logo {
    font-weight: bold;
}

.logo span {
    color: red;
}

.top input {
    width: 280px;
    margin-right: 10px;
}

.home-left, .home-middle, .home-right {
    margin-top: 10px;
    font-weight: bold;
}

.home-left, .home-middle{
    border-right: 2px solid black;
}

.view-hist {
    margin-top: 18px;
}

.middle {
    margin-top: 20px; 
}

.featured {
    border: 2px solid black;
    padding-bottom: 10px;
}

.featured h4 {
    font-weight: bold;
}

.small-videos {
    margin-top: 36px;
}

.bottom {
    border: 2px solid black;
}